<!DOCTYPE html>
<html>
<head>
    <title>About Us:Zrading</title>
    <script src="https://kit.fontawesome.com/b1b10857b5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/about-us.css">
    <script src="https://kit.fontawesome.com/2814ece5e8.js" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">


    <link
        href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
        integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">



    <link href="https://fonts.googleapis.com/css?family=Comfortaa:300,400,700|Poiret+One" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,700" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Oswald:200,400,700" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Inter:wght@300&family=Rubik:wght@300&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/profile.css">




</head>
<body>


    <div class="navbar">

        <div class="logo">
            <img src="./img2/logomain.png" alt="">
        </div>
        <ul>
            <a class="button-navbar btn" href="#" role="button">
                <span>Home</span>
                <div class="icon">
                    <i class="fa-solid fa-house"></i>
                </div>
            </a>
            <a class="button-navbar btn" href="./traderlounge" role="button">
                <span>Traders</span>
                <div class="icon">
                    <i class="fa-solid fa-copy"></i>
                </div>
            </a>
            <a class="button-navbar btn" href="/discover" role="button">
                <span>Discover</span>
                <div class="icon">
                    <i class="fa-solid fa-compass"></i>
                </div>
            </a>
            <a class="button-navbar btn" href="./portfolio" role="button">
                <span>Portfolio</span>
                <div class="icon">
                    <i class="fa-solid fa-chart-pie"></i>
                </div>
            </a>
            <div class="bell">
                <i class="fa-solid fa-bell"></i>
            </div>

            <div class="dropdown">
                <div class="dropbtn"> <i class="fa-solid fa-user"></i>
                </div>
                <div class="dropdown-content">
                    <a href="/profile">Profile</a>
                    <a href="#">Wallet</a>
                    <a href="#">Settings</a>

                    <a href="/">Logout</a>
                </div>
            </div>
        </ul>
    </div>


    <div class="main">
        <div class="mission_statement">
            <i class="fa-solid fa-book"></i>
            <h1>Our Mission</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi sit laudantium quis, ratione aliquam laboriosam eos odio commodi culpa adipisci iure. Quia numquam expedita hic magni qui illum dolorem saepe cumque, tenetur ipsa mollitia. Alias laboriosam neque dolor eveniet tenetur placeat expedita molestiae ut quas.</p>
        </div>
    </div>
    <section>
    <div class="story">
        <div class="storyhead"></div>
        <div class="storybody">
            <h1>Our Story</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, quibusdam! Impedit nisi fugit placeat molestiae obcaecati eum quaerat adipisci quod corrupti tempora velit minus vero, itaque commodi sed eos consectetur? Voluptate eum quae corrupti eveniet doloribus, tempore labore quam ducimus placeat! Quisquam voluptas magni quas dolor ex dolorem fugit ipsum error cupiditate, quae debitis, dignissimos voluptatum ipsam quibusdam rerum tempore neque pariatur ducimus asperiores nisi.</p>
        </div>
    </div>
    </section>
    <div class="card">
    <div class="a"><h1>our team</h1></div>
    <div class="team">
        <div class="pic">
            <img src="/img2/sanupic.jpg" alt="sanu" width="250px" height="350px">
            <p>Sanu Das</p>
        </div>
        <div class="pic">
            <img src="/img2/sanupic.jpg" alt="prashanth" width="250px" height="350px">
            <p>Prashanth</p>
        </div>
        <div class="pic">
            <img src="/img2/sanupic.jpg" alt="ayush" width="250px" height="350px">
            <p>Ayush Raj</p>
        </div>
        <div class="pic">
            <img src="/img2/sanupic.jpg" alt="gowtham" width="250px" height="350px">
            <p>Gowtham</p>
        </div>
        <div class="pic">
            <img src="/img2/sanupic.jpg" alt="ram" width="250px" height="350px">
            <p>Ram Charan</p>
        </div>
    </div>


    <footer style="top: 0px;">

        <div class="whole">
            <div class="next">
                <div class="one">
                    <h1>LEGAL</h1>
                    <a href="#">Privacy Policy</a>
                    <a href="#">Terms Of Use</a>
                    <a href="#">License</a>
                    <a href="#">Terms And Conditions</a>
                </div>
                <div class="one">
                    <h1>SERVICES</h1>
                    <a href="#">Email Marketing</a>
                    <a href="#">Campaign</a>
                    <a href="#">Branding</a>
                    <a href="#">Offline</a>
                </div>
                <div class="one">
                    <h1>ABOUT</h1>
                    <a href="#">Benefits</a>
                    <a href="/about-us">Team</a>
                    <a href="#">Career</a>
                    <a href="#">Our Story</a>
                </div>
                <div class="one">
                    <h1>USEFUL LINKS</h1>
                    <a href="#">Features</a>
                    <a href="#">Home</a>
                    <a href="/contact-use">Contacts</a>
                    <a href="#">Trading</a>
                </div>
            </div>
            <div class="footer-icon">
                <i class="fa-brands fa-instagram" style="height: 0px;"></i>
                <i class="fa-brands fa-facebook" style="height: 0px;"></i>
                <i class="fa-brands fa-twitter" style="height: 0px;"></i>
                <i class="fa-brands fa-telegram" style="height: 0px;"></i>
                <i class="fa-brands fa-linkedin-in" style="height: 0px;"></i>
                <p style="float: right;">email:<a href="#">zrading@gmail.com</a></p>
            </div>
        </div>
    </footer>


    </div>
</body>
</html>