<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Aladdin</title>
  <link rel="stylesheet" href="/css/nav.css">
  <link rel="stylesheet" href="/css/steps.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/testimonial.css">
  <script src="https://kit.fontawesome.com/b1b10857b5.js" crossorigin="anonymous"></script>

  <script src="https://kit.fontawesome.com/dce1071010.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
    integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>

<body>
  <header id="nav-wrapper">
    <nav id="nav">
      <div class="nav left">
        <span class="">
          <h1 class="logo"><img src="/img/WhatsApp Image 2022-02-21 at 11.27.30.jpeg" alt=""></h1>
        </span>
        <button id="menu" class="btn-nav"><span class="fas fa-bars"></span></button>
      </div>
      <div class="nav right">
        <!-- <a href="#home" class="nav-link active"><span class="nav-link-span"><span class="u-nav">Home</span></span></a>
        <a href="#working" class="nav-link"><span class="nav-link-span"><span class="u-nav">About</span></span></a>
        <a href="#work" class="nav-link"><span class="nav-link-span"><span class="u-nav">Work</span></span></a>
        <a href="#contact" class="nav-link"><span class="nav-link-span"><span class="u-nav">Contact</span></span></a>
        <a href="#contact2" class="nav-link"><span class="nav-link-span"><span class="u-nav">Contact2</span></span></a> -->
        <a href="/loginmain"><button class="loginBtn nav-link nav-link-span u-nav" type="submit">Login</button></a>
        <a href="/loginmain"><button class="loginBtn nav-link nav-link-span u-nav" type="submit">Signup</button></a>


      </div>
    </nav>
  </header>


  <main>
    <section id="home">
      <!-- <video autoplay muted loop id="bg-video">
        <source src="videos/bg-video.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
      </video> -->
      <img id="bg-video" src="/videos/Burning.gif" alt="">

      <div class="home-text">
        <h1 class="title">The Social Network Of <span style="color: white;">Trader's</span> </h1>
        <h2 class="title2">Where you can <span style="color: white;"> <span class="first-letter">S</span>hare <span
              class="first-letter">C</span>opy <span class="first-letter">E</span>arn</span></h2>

        <a href="/loginmain"><button class="join-us-btn">Join Us</button></a>
        <a href="https://www.youtube.com/watch?v=O5L4HUMCWRk" target="blank">
          <h3 class="tutorial"><span>Watch Tutorial</span></h3>
        </a>
      </div>
    </section>



    <section id="working">

      <!-- <div id="working"> -->
      <h1><a class="shift-btn1" href="#copy-trading" onclick="copy()">Discover copy trading</a><a class="shift-btn2"
          href="#social-trading" onclick="social()">Discover social Trading</a> </h1>


      <div id="social-trading" style="display: none;">
        <h1 class="social-heading">Social Trading</h1>
        <div class="social-trading-p1">

          <div class="social-trading-text">
            <h3>What is Social Trading?</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, cumque ea! Amet necessitatibus iste
              quae
              dicta veniam, ab, facere sint odit quidem cupiditate, provident at obcaecati ad ex. Necessitatibus
              quisquam
              veniam alias ex facere ipsa? Non nobis saepe quod. Ullam totam omnis est tempore.</p>
          </div>
        </div>


        <div class="social-trading-outer-part">
          <div class="social-trading-inner-part">
            <div>
              <img src="/img/social.jpg" alt="social">
            </div>
            <div class="left-content ">
              <h2>
                Oppurtunity to learn
              </h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas voluptatibus, perspiciatis minima
                nobis
                quasi sunt eius explicabo dolore reprehenderit non quae illo quod aliquid fugiat dolores laboriosam
                distinctio a? Corrupti quisquam possimus iusto namtas sequi!</p>
            </div>
          </div>
          <div class="social-trading-inner-part">

            <div class="right-content ">
              <h2>
                Oppurtunity to learn
              </h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas voluptatibus, perspiciatis minima
                nobis
                quasi sunt eius explicabo dolore reprehenderit non quae illo quod aliquid fugiat dolores laboriosam
                distinctio a? Corrupti quisquam possimus iusto namtas sequi!</p>
            </div>

            <div>
              <img src="/img/social.jpg" alt="social">
            </div>
          </div>


          <div class="social-trading-inner-part">
            <div>
              <img src="/img/social.jpg" alt="social">
            </div>
            <div class="left-content ">
              <h2>
                Oppurtunity to learn
              </h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas voluptatibus, perspiciatis minima
                nobis
                quasi sunt eius explicabo dolore reprehenderit non quae illo quod aliquid fugiat dolores laboriosam
                distinctio a? Corrupti quisquam possimus iusto namtas sequi!</p>
            </div>
          </div>


          <div class="social-trading-inner-part">

            <div class="right-content ">
              <h2>
                Oppurtunity to learn
              </h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas voluptatibus, perspiciatis minima
                nobis
                quasi sunt eius explicabo dolore reprehenderit non quae illo quod aliquid fugiat dolores laboriosam
                distinctio a? Corrupti quisquam possimus iusto namtas sequi!</p>
            </div>

            <div>
              <img src="/img/social.jpg" alt="social">
            </div>
          </div>

        </div>

      </div>







      <div id="copy-trading">

        <div class="ag-timeline-block">
          <div class="ag-timeline_title-box">
            <div class="ag-timeline_title">Copy Trade</div>
            <div class="ag-timeline_tagline">Steps to copy</div>
          </div>
          <section class="ag-section">
            <div class="ag-format-container">
              <div class="js-timeline ag-timeline">
                <div class="js-timeline_line ag-timeline_line">
                  <div class="js-timeline_line-progress ag-timeline_line-progress"></div>
                </div>
                <div class="ag-timeline_list">
                  <div class="js-timeline_item ag-timeline_item">
                    <div class="ag-timeline-card_box">
                      <div class="js-timeline-card_point-box ag-timeline-card_point-box">
                        <div class="ag-timeline-card_point"></div>
                      </div>
                      <div class="ag-timeline-card_meta-box">
                        <div class="ag-timeline-card_meta">Step 1</div>
                      </div>
                    </div>
                    <div class="ag-timeline-card_item">
                      <div class="ag-timeline-card_inner">
                        <div class="ag-timeline-card_img-box">
                          <img src="/img/social-intro-1.jpg" class="ag-timeline-card_img" width="640" height="360" />
                        </div>
                        <div class="ag-timeline-card_info">
                          <div class="ag-timeline-card_title">Step 1</div>
                          <div class="ag-timeline-card_desc">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                            eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
                            montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
                            pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla
                            vel, aliquet nec, vulputate eget, arcu.
                          </div>
                        </div>
                      </div>
                      <div class="ag-timeline-card_arrow"></div>
                    </div>
                  </div>

                  <div class="js-timeline_item ag-timeline_item">
                    <div class="ag-timeline-card_box">
                      <div class="ag-timeline-card_meta-box">
                        <div class="ag-timeline-card_meta">Step 2</div>
                      </div>
                      <div class="js-timeline-card_point-box ag-timeline-card_point-box">
                        <div class="ag-timeline-card_point"></div>
                      </div>
                    </div>
                    <div class="ag-timeline-card_item">
                      <div class="ag-timeline-card_inner">
                        <div class="ag-timeline-card_img-box">
                          <img src="/img/social-intro-1.jpg" class="ag-timeline-card_img" width="640" height="360"
                            alt="" />
                        </div>
                        <div class="ag-timeline-card_info">
                          <div class="ag-timeline-card_title">Step 2</div>
                          <div class="ag-timeline-card_desc">
                            Donec pede justo, fringilla
                            vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a,
                            venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer
                            tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend
                            tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.
                            Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra
                            nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet.
                          </div>
                        </div>
                      </div>
                      <div class="ag-timeline-card_arrow"></div>
                    </div>
                  </div>

                  <div class="js-timeline_item ag-timeline_item">
                    <div class="ag-timeline-card_box">
                      <div class="js-timeline-card_point-box ag-timeline-card_point-box">
                        <div class="ag-timeline-card_point"></div>
                      </div>
                      <div class="ag-timeline-card_meta-box">
                        <div class="ag-timeline-card_meta">Step 3</div>
                      </div>
                    </div>
                    <div class="ag-timeline-card_item">
                      <div class="ag-timeline-card_inner">
                        <div class="ag-timeline-card_img-box">
                          <img src="/img/social-intro-1.jpg" class="ag-timeline-card_img" width="640" height="360"
                            alt="" />
                        </div>
                        <div class="ag-timeline-card_info">
                          <div class="ag-timeline-card_title">Step 3</div>
                          <div class="ag-timeline-card_desc">
                            Aenean imperdiet. Etiam ultricies
                            nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus.
                            Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet
                            adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar,
                            hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae
                            sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget
                            eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh.
                          </div>
                        </div>
                      </div>
                      <div class="ag-timeline-card_arrow"></div>
                    </div>
                  </div>

                  <div class="js-timeline_item ag-timeline_item">
                    <div class="ag-timeline-card_box">
                      <div class="ag-timeline-card_meta-box">
                        <div class="ag-timeline-card_meta">Step 4</div>
                      </div>
                      <div class="js-timeline-card_point-box ag-timeline-card_point-box">
                        <div class="ag-timeline-card_point"></div>
                      </div>
                    </div>
                    <div class="ag-timeline-card_item">
                      <div class="ag-timeline-card_inner">
                        <div class="ag-timeline-card_img-box">
                          <img src="/img/social-intro-1.jpg" class="ag-timeline-card_img" width="640" height="360"
                            alt="" />
                        </div>
                        <div class="ag-timeline-card_info">
                          <div class="ag-timeline-card_title">Step 4</div>
                          <div class="ag-timeline-card_desc">
                            Cum sociis natoque penatibus et magnis dis parturient
                            montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
                            pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla
                            vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a,
                            venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer
                            tincidunt. Cras dapibus. Vivamus elementum semper nisi.
                          </div>
                        </div>
                      </div>
                      <div class="ag-timeline-card_arrow"></div>
                    </div>
                  </div>


                </div>
              </div>
            </div>
          </section>
        </div>






      </div>

      </div>

    </section>



    <section id="testimonials">

      <h1 class="testimonial-heading">What Clients says</h1>

      <div class="monial-outer-box">
        <div class="monial-box1">
          <img src="/img/testimonial.jpg" alt="" style="opacity: 0.1;">


        </div>

        <div class="monial-box2">


        </div>

        <div class="monial-text fade" style="display: block;">
          <!-- <i class="fa-solid fa-apostrophe monial-icon"></i> -->
          <h1>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil at consequuntur pariatur maiores minus
            delectus voluptate recusandae! Numquam possimus voluptatibus sunt quaerat. Fuga, itaque. Pariatur incidunt
            ipsam fuga harum in.</h1>
          <img src="/img/149071.png" alt="client image">
          <h2>Sanu Das,<small>ek number trader</small></h2>
        </div>

        <div class="monial-text fade">
          <!-- <i class="fa-solid fa-apostrophe monial-icon"></i> -->
          <h1>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil at consequuntur pariatur maiores minus
            delectus voluptate recusandae! Numquam possimus voluptatibus sunt quaerat. Fuga, itaque. Pariatur incidunt
            ipsam fuga harum in.</h1>
          <img src="/img/149071.png" alt="client image">
          <h2>Ayush Raj,<small>trading since 2019</small></h2>
        </div>
        <div class="monial-text fade">
          <!-- <i class="fa-solid fa-apostrophe monial-icon"></i> -->
          <h1>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil at consequuntur pariatur maiores minus
            delectus voluptate recusandae! Numquam possimus voluptatibus sunt quaerat. Fuga, itaque. Pariatur incidunt
            ipsam fuga harum in.</h1>
          <img src="/img/149071.png" alt="client image">
          <h2>Ayush Singla,<small>trading since 2020</small></h2>
        </div>



        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
      </div>
      <br>

      <!-- The dots/circles -->




      <div class="monial-image">

      </div>

      </div>


    </section>



    <section id="contact">
      <div class="whole">
        <div class="part1">
          <div class="one">
            <h1>LEGAL</h1>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms Of Use</a>
            <a href="#">License</a>
            <a href="#">Terms And Conditions</a>
          </div>
          <div class="one">
            <h1>SERVICES</h1>
            <a href="#">Email Marketing</a>
            <a href="#">Campaign</a>
            <a href="#">Branding</a>
            <a href="#">Offline</a>
          </div>
          <div class="one">
            <h1>ABOUT</h1>
            <a href="#">Benefits</a>
            <a href="/about-us">Team</a>
            <a href="#">Career</a>
            <a href="#">Our Story</a>
          </div>
          <div class="one">
            <h1>USEFUL LINKS</h1>
            <a href="#">Features</a>
            <a href="#">Home</a>
            <a href="/contact-use">Contacts</a>
            <a href="#">Trading</a>
          </div>
        </div>
        <div class="icon">
          <i class="fa-brands fa-instagram" style="height: 0px;"></i>
          <i class="fa-brands fa-facebook" style="height: 0px;"></i>
          <i class="fa-brands fa-twitter" style="height: 0px;"></i>
          <i class="fa-brands fa-telegram" style="height: 0px;"></i>
          <i class="fa-brands fa-linkedin-in" style="height: 0px;"></i>
          <p style="float: right;">email:<a href="#">zrading@gmail.com</a></p>
        </div>
      </div>
    </section>
    <!-- </section> -->
    <!-- <section id="contact2">

    </section> -->
  </main>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
  <script src="/js/nav.js"></script>
  <script src="/js/steps.js"></script>
</body>

</html>